header h1 {
	font-size: 3em;
	text-align: center;
	margin: .5em;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 1em;
	margin-top: .5em;
}

footer p {
	margin: 1em;
	text-align: right;
}

main {
	max-width: 850px;
	margin: 0 auto;
}

ul {
	padding-left: 1em;
	background-color: gray;
}

li img {
	border-radius: 6px;
	height: auto;
	max-width: 100%;	
}

/*com float*/
.galeria-float {
	overflow: auto;
}

.galeria-float li {
	box-sizing: border-box;
	float: left;
	max-width: 20%;
	padding-right: 1.3em;
}

/*com inline*/
.galeria-inline {
	padding-right: 1em;
	text-align: center;
}

.galeria-inline li {
	padding-left: 0.1em;
	padding-right: 0.1em;
	box-sizing: border-box;

	display: inline-block;
	width: 20%;
}

/*com flex*/
.galeria-flex {
	padding-right: 1em;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

.galeria-flex li {
	padding-left: 0.1em;
	padding-right: 0.1em;
	box-sizing: border-box;
}